body{
    margin: 0;
    background:#B4B6BE ;
    text-align: center;
}
h1{
    display:inline-block;
    /* margin-top: 10px; */
}

.header{
    text-align: center;
    font-size: 35px;
    background: rgb(92, 122, 146);
    padding: 20px;
    color: #fff;
    letter-spacing: 15px;
    font-weight: 900;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
}

h2{
    display: inline-block;
    margin-top: 5px;
}
.userimg{
    position:fixed ;
    top:5%
}
.userdata{
    position: fixed;
    top: 5%;
    left: 12%;
}
button{
    padding: 5px 15px;
    font-weight: 800;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    background:none;
}
input{
    padding:8px 15px;
    cursor: pointer;
    font-weight: 800;
    background: rgb(89, 121, 148);

}

.settings{
    position: absolute;
    top:20px;
    right:5% ;
    display: flex;
}

.divs{ 
    border: 1px solid black; 
}

.photo{
    position: absolute;
    top:30%;
    /* background: rgb(80, 54, 109); */
}
.photo>form>button{
    background: #B4B6BE ;
}
